@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body,
html {
  margin: 0px;
  height: 100vh;
  color: MidnightBlue;
}

::-moz-selection {
  /* Code for Firefox */
  color: MintCream;
  background: MidnightBlue;
}

::selection {
  color: MintCream;
  background: MidnightBlue;
}

a:hover {
  text-decoration: none;
}

.top-logo {
  margin-top: 64px;
}

.top-half, .bottom-half {
  height: 50vh;
}

.social-icons {
  margin-bottom: 64px;
  background-color: white;
}

.btn-link {
  color: #000;
}

.btn-link:hover {
  color: midnightblue;
  background: none;
}

.bg-1 {
  /* The image used */
  background-image: url("https://i.imgur.com/l7MSkya.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  /* Full height */
  height: 100%;
}

.bg-2 {
  /* The image used */
  background-image: url("https://i.imgur.com/baKDdvu.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;

  overflow: hidden;

  /* Full height */
  height: 100%;
}

.bg-3 {
  /* The image used */
  background-image: url("https://i.imgur.com/vRcesW1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  /* Full height */
  height: 100%;
}

.bg-4 {
  /* The image used */
  background-image: url("https://i.imgur.com/fL7edmy.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;

  /* Full height */
  height: 100%;
}
